<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="main">
    {% for field in fields %}
        <h3>{{ field }}</h3>
        <ul>
        {% for item in tickets[field] %}
            <li><a href="{{item['url']}}">{{item['url']}}</a> - {{item['summary']}}</li>
        {% else %}
            <li>-</li>
        {% endfor %}
        </ul>
    {% endfor %}
</div>
<br />
<table width="800px" style="font-size: x-small; font-family: sans-serif;" bgcolor="white" border="0" cellpadding="2" cellspacing="0">
<tbody>
<tr>
    <td>
        Mit freundlichen Gr&uuml;&szlig;en / Best regards<br/><br/>
        <span style="font-size: small; font-weight: bold; color: #6CA7D7">Vladimir Borovic</span><br/>
        <b>Python Developer</b>
        <br/>
        <br/>
        <table style="font-size: x-small; font-family: sans-serif;" bgcolor="white" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>Tel</td>
                <td style="padding-left: 10px;">+49-941-569592-0</td>
            </tr>
            <tr>
                <td>Fax</td>
                <td style="padding-left: 10px;">+49-941-569592-99</td>
            </tr>
            <tr>
                <td>Mail</td>
                <td style="padding-left: 10px;"><a href="mailto:vladimir.borovic@yopeso.com">vladimir.borovic@yopeso.com</a></td>
            </tr>
            <tr>
                <td>Web</td>
                <td style="padding-left: 10px;"><a href="https://www.yopeso.com">https://www.yopeso.com</a><br/></td>
            </tr>
        </tbody>
        </table>
    </td>
    <td style="padding-left: 180px;" valign="top">
        <img src="https://www.yopeso.com/mail_signature/logo_yopeso_signature_small.jpg" alt="" moz-do-not-send="false" border="0" height="42" width="154"><br/>
        <b>YOPESO s.r.l.</b>
        <br/>
        Calea Orheiului 20/1<br />
2059 Chisinau<br />
Republik Moldau        <table style="font-size: x-small; font-family: sans-serif;" bgcolor="white" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                Registergericht Chisinau<br/>
                Registernummer 1008600037623</td><td style="padding-left: 10px;" valign="top">VAT-ID 0207159                <br/>
                Gesch&auml;ftsf&uuml;hrer Svetlana Arnaut                </td>
            </tr>
        </tbody>
        </table>
    </td>
</tr>
</tbody>
</table>
</body>
</html>